.body{
    padding: 20px;
    border: 4px solid gray;
    margin: auto;  
}

.outer{
    padding: 20px;
    border: 4px solid gray;
    margin: auto; 
}

h1{
    font-size: 19px;
    font-style: normal;
    color: darkslategrey;
    padding: 20px;
}

a {
    color: rgb(91, 92, 94);
    padding: 20px;
    font-style: oblique;
}

address{
    color: rgb(230, 111, 0);
    padding: 20px;
}

p.test {
    padding: 20px;
}

p.test2 {
    padding: 20px;
}

img {
    height: 160px;
    width: auto;
}

.link {
    height: 20px;
    width: 50px;
}

footer{
    padding: 20px;
    margin: auto; 
}