body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: auto;

}

.outer{
    width: auto;
    border: 4px #808080;
    margin: auto;
    padding: 20px;
}

h1{
    font-size: 19px;
    font-style: normal;
    color: #2f4f4f;
}

h4{
    font-size: 13px;
    font-style: normal;
    color: #2f4f4f;
}

a {
    color: #161e2c;
    padding: 10px;
    font-style: oblique;
}

address{
    color: #161e2c;
    padding: 10px;
}

p.test {
    padding: 10px;
}

p.test2 {
    padding: 20px;
}

img {
    height: 160px;
    width: auto;
}

.link {
    height: 20px;
    width: 50px;
}

footer{
    padding: 20px;
    background-color: #adadad;
}
